nav{
    width: 100%;
    /* background-color: rgb(190, 190, 162); */
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    /* position: fixed; */
    /* top: 0; */
    background-color: white;
    /* left: 0; */
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .search{
    border: 1px solid #aaa;
    display: flex;
    background-color: blue;
}
nav .search input{
    padding: 10px;
    border: none;
    outline: none;
}
nav .search button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}
nav .hamburger{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
nav .hamburger span{
    width: 22px;
    height: 2px;
    background-color: #aaa;
}
nav .Menu{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.548);
    top: 0;
    height: 100%;
    transition: .4s ease;
    z-index: 100;
}
.Menu.open{
    left: 0;
}
.Menu.close{
    left: -100%;
}
nav .Menu .list{ 
    position: absolute;
    width: 300px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    height: 100%;
    z-index: 100;
}
nav .Menu .list button{
    margin:  0 0 0 90%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: transparent;
    font-size: 2rem;
    padding: 6px;
    cursor: pointer;
}
nav .Menu .list ul li{
    margin: 20px 0;
    padding: 0 20px;
    font-size: 1.2rem;
    color: white;
    transition: .5s ease;
}
nav .Menu .list ul li:hover{
    padding: 0 0 0 40px;
}
nav .Menu .list ul li a{
    color: white;
}
nav i {
    color: #aaa;
}