.Product-cards{
    min-height: 100vh;
    padding: 40px 0;
    /* background-color: red; */
}
.Product-cards .intro-section-text{
    text-align: center;
    font-size: 1.5rem;
    /* //////////////// */
    max-width: 700px;
    margin: 10px auto;
}
.Product-cards .cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.Product-cards .cards .card{
    background-color: white;
    padding: 25px 25px;
    height: 250px;
    box-shadow: 0px 4px 10px rgba(156, 156, 156, 0.452);
}
.Product-cards .cards .card h1{
    color: var(--purple-color);
    font-size: 50px;
}
.Product-cards .cards .card h3{
    font-size: 1.3rem;
    margin: 15px 0;
}
.Product-cards .cards .card p{
    color: var(--black-50);
}